.parentDiv{
    background-color: #e6e6e6;
}

.movieHeaderText{
    color: #000000;
    font-size: 1.5rem;
}

.movieCard{
    width:18rem;
   
}
.moviePoster{
    height:18rem;
    width: 18rem;
}
.lineStyle{
    color: #000000;
    
}
.genre{
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
}
.movieTitle{
    color: #666666;
    font-size: 1.2rem;
    font-weight: 500;
}

.imdbRating{
    color: #999999;
    font-size: 1rem;
}
.description{
    font-size: 1rem;
    color: #b3b3b3;
}